<mat-toolbar color="primary" class="fixed-toolbar">
  <button mat-icon-button class="icon" (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>

  <span class="toolbar-title">Gestor de Colas Virtuales</span>

  <button mat-flat-button class="boton-sesion">Iniciar Sesión</button>
</mat-toolbar>

<mat-sidenav-container class="main-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpen" class="sidenav" [autoFocus]="false">
    <app-menu></app-menu>
  </mat-sidenav>

  <mat-sidenav-content class="content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
