
<mat-toolbar color="primary" class="fixed-toolbar">
   <!-- Título o logo de la aplicación -->
  <span class="toolbar-title">Mi Aplicación</span>

    <!-- Rellena el espacio restante para centrar los enlaces y mover el botón a la derecha -->
  <span class="example-spacer"></span>
  
    <!-- Sección Central (Enlaces de navegación) -->
  <div class="toolbar-links">
    <button mat-button class="boton-nav" routerLink="/inicio" routerLinkActive="active-link">Inicio</button>
    <button mat-button class="boton-nav" routerLink="servicios" routerLinkActive="active-link">Servicios</button>
    <button mat-button class="boton-nav" routerLink="/ayuda" routerLinkActive="active-link">Ayuda</button>
  </div>

  <!-- Sección Derecha (Inicio de sesión) -->
  <button mat-flat-button class="boton-sesion">Iniciar Sesión</button>
</mat-toolbar>

<div class="content">
  <router-outlet></router-outlet>
</div>
