/* Toolbar con fondo gris claro */
.fixed-toolbar {
  background-color: #F7F7F7 !important;
  padding: 0 16px; // espacio horizontal
  height: 72px; // altura del toolbar

  .toolbar-title {
    flex: 1 1 auto;
    font-size: 28px;
    font-weight: bold;
    padding-left: 10px;
    color: #1f1f1f;

  }
}

/* Botón iniciar sesión */
.boton-sesion {
  margin-right: 8px;
  font-size: 18px;
  padding: 12px 24px;
  border-radius: 24px;
  transition: background-color 0.8s, color 0.8s;
  background-color: #f87347 !important;
  color: white !important;
}

.icon {
  scale: 1.3;
}

.sidenav {
  width: 250px;
  background-color: #4bab80;
  border-radius: 0;
  color: white;

    mat-icon {
      color: white !important;
      margin-right: 12px;
    }
  }

.main-container {
  height: 100vh;
}