<!-- Toolbar y sidenav solo si NO estamos en /solicitar-turno -->
<ng-container *ngIf="!esRutaSolicitarTurno && !esRutaInicioSesion">
  <mat-toolbar color="primary" class="fixed-toolbar">
    <button mat-icon-button class="icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>

    <span class="toolbar-title">Gestor de Colas Virtuales</span>
  </mat-toolbar>

  <mat-sidenav-container class="main-container">
    <mat-sidenav #sidenav mode="side" [(opened)]="isSidenavOpen" class="sidenav" [autoFocus]="false">
      <app-menu></app-menu>
    </mat-sidenav>

    <mat-sidenav-content class="content">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>

<!-- Solo el contenido sin toolbar-->
<ng-container *ngIf="esRutaSolicitarTurno || esRutaInicioSesion">
  <router-outlet></router-outlet>
</ng-container>
