services:
  backend:
    build:
      context: ./backend
    container_name: backend_app
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: ${DBC_DATABASE_UR}
      SPRING_DATASOURCE_USERNAME: ${DB_USER}
      SPRING_DATASOURCE_PASSWORD: ${DB_PASS}
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
    container_name: frontend_app
    ports:
      - "4200:80"
    depends_on:
      - backend

  db:
    image: postgres:15
    container_name: postgres_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: proyecGCV
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres