<mat-card-content class="card-principal">
  <form [formGroup]="turnoForm">

    <label class="camp-label">Nombres</label>
    <mat-form-field appearance="outline" class="custom-input">
      <mat-label class="text-label">Ingresa tus nombres</mat-label>
      <input matInput formControlName="nombres">
    </mat-form-field>

    <label class="camp-label">Apellidos</label>
    <mat-form-field appearance="outline" class="custom-input">
      <mat-label class="text-label">Ingresa tus apellidos</mat-label>
      <input matInput formControlName="apellidos">
    </mat-form-field>

    <label class="camp-label">Documento</label>
    <mat-form-field appearance="outline" class="custom-input">
      <mat-label class="text-label">Ingresa tu número de documento</mat-label>
      <input matInput formControlName="documento">
    </mat-form-field>

    <label class="camp-label">Motivo de visita</label>
    <mat-form-field appearance="outline" class="custom-input">
      <mat-label class="text-label">Seleccione el motivo de su visita</mat-label>
      <mat-select formControlName="motivo">
        <mat-option value="CAJA">Caja</mat-option>
        <mat-option value="CONSULTORIA">Consultorio</mat-option>
        <mat-option value="DESPACHO">Despacho</mat-option>
        <mat-option value="ENTREGA">Entrega</mat-option>
      </mat-select>
    </mat-form-field>

    <div class="boton-accion">
      <button mat-flat-button class="boton-style" (click)="solicitarTurno()">Solicitar turno</button>
    <div class="botones-styles">
      <button mat-button class="btn-style" (click)="buscarTurno()">Buscar turno</button>
      <span class="separador"></span>
      <button mat-button class="btn-style" (click)="editarTurno()">Editar turno</button>
    </div>
    </div>
  </form>
</mat-card-content>

<mat-card-content class="card-secondary">
  <span class="titulo">Tiempo de espera promedio:</span>
  <div class="icono-container">
    <mat-icon class="icon-large">timer</mat-icon>
    <span class="minutos">15 min</span>
  </div>
</mat-card-content>
