<mat-card-content class="card-principal">
  <p>Turnos llamados:</p>

  <!-- Turnos anteriores (cards grises) -->
  <mat-card class="turno-one-card">
    <mat-card-content>A05 - María López Sánchez</mat-card-content>
  </mat-card>

  <mat-card class="turno-card">
    <mat-card-content>A04 - Carlos Ramírez Gómez</mat-card-content>
  </mat-card>

  <mat-card class="turno-card">
    <mat-card-content>A03 - Ana Torres Méndez</mat-card-content>
  </mat-card>

  <mat-card class="turno-card">
    <mat-card-content>A02 - Luis Fernández Díaz</mat-card-content>
  </mat-card>

  <!-- Último turno destacado -->
  <mat-card class="turno-card">
    <mat-card-content>A01 - Juan Alonso Pérez Molina</mat-card-content>
  </mat-card>
</mat-card-content>
