.card-principal {
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Título */
.card-principal p {
  font-size: 22px;
  font-weight: 600;
  color: #000;
  margin-bottom: 12px;
}

/* Turnos anteriores */
.turno-card {
  height: 78px;
  margin-top: 16px;
  background-color: #E9EAEA;
  font-weight: bold;
  font-size: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}

/* Último turno destacado */
.turno-one-card {
  height: 95px;
  margin-top: 16px;
  background-color: #4bab80;
  color: white;
  font-weight: bold;
  font-size: 26px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
}
