<mat-card-content class="card-principal">
  <!-- Apartado visual personas esperando -->
  <div class="esperando-turno">
    <mat-icon class="icon-large">group</mat-icon>
    <span class="esperando-texto">Personas esperando: 5</span>
  </div>

  <p>Siguientes turnos:</p>

  <div class="siguientes-turnos">
    <mat-card class="turno-card">
      <mat-card-content>A06 - Elena Martínez Ruiz</mat-card-content>
    </mat-card>
    <mat-card class="turno-card">
      <mat-card-content>A07 - Jorge Hernández López</mat-card-content>
    </mat-card>
    <mat-card class="turno-card">
      <mat-card-content>A08 - Patricia Gómez Salinas</mat-card-content>
    </mat-card>
    <mat-card class="turno-card">
      <mat-card-content>A09 - Ricardo Torres Ramírez</mat-card-content>
    </mat-card>
    <mat-card class="turno-card">
      <mat-card-content>A10 - Laura Fernández Morales</mat-card-content>
    </mat-card>
  </div>
</mat-card-content>