<mat-card-content class="card-principal">
  <!-- Apartado visual personas esperando -->
  <div class="esperando-turno">
    <mat-icon class="icon-large">group</mat-icon>
    <span class="esperando-texto">Personas esperando: {{ personasEsperando }}</span>
  </div>

  <p>Siguientes turnos:</p>

  <div class="siguientes-turnos">
    <ng-container *ngFor="let turno of siguientesTurnos">
      <mat-card class="turno-card">
        <mat-card-content>
          {{ turno.id | number:'2.0' }} - {{ turno.nombres }} {{ turno.apellidos }}
        </mat-card-content>
      </mat-card>
    </ng-container>
  </div>
</mat-card-content>
