.card-principal {
  width: 100%;
  height: 100%;
  background-color: #F7F7F7;
  padding: 24px;
  border-radius: 8px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Iconos grandes */
.icon-large {
  scale: 2;
}

.esperando-turno {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  background-color: #d0f0e0;
  padding: 24px 34px;
  margin-bottom: 16px;
  border-radius: 8px;
  font-size: 18px;
  font-weight: 600;
}

.esperando-texto {
  margin-left: 35px;
  font-size: 22px;
  font-weight: 700;
}

/* Contenedor de turnos */
.siguientes-turnos {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 12px;
  margin-top: 20px;
}

/* Cards individuales */
.turno-card {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 78px;
  background-color: #E9EAEA;
  color: #000;
  font-weight: bold;
  font-size: 18px;
  border-radius: 8px;
}
